.Products_container {
    padding: 0px 80px;
    margin-top: 60px;
}

.Products_heading {
    text-align: center;
    letter-spacing: 5px;
}

.Container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1100px;
}

.Container .Card {
    position: relative;
    width: 300px;
    height: 168px;
    margin-top: 35px;
    overflow: hidden;
}

.Container .Card .Image,
.Container .Card .Image_contentBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.Container .Card .Image_contentBox::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fd6c4d;
    transform: scale(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: right;
    transition-delay: 0.5s;
}

.Container .Card:hover .Image_contentBox::before {
    transform: scale(1);
    transition: transform 0.5s ease-in-out;
    transform-origin: left;
    transition-delay: 0s;
}

.Container .Card .Image_contentBox .Image_content {
    position: relative;
    padding: 30px;
    z-index: 1;
    transition: 0.5s;
    transform: translateX(-300px);
    transition-delay: 0s;
}

.Container .Card:hover .Image_contentBox .Image_content {
    transform: translateX(0);
    transition-delay: 0.5s;
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    display: grid;
    padding: 0.5rem 1rem;
    background: #9d5ec736;
    width: 20.75rem;
    height: 15.75rem;
    overflow: hidden;
}

.swiper-slide img {
    display: block;
    width: 100%;
}
.swiper-pagination-bullet-active{
    background-color: #fd6c4d;
}